# Custom specific files
TODO.md
TODO2.md
server_pc_ip

# Key stuff
*.key
*.crt
*.pem

# User-specific Obsidian state (This could probably be improved alot)
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.obsidian/global.json
.obsidian/plugins/*/data.json
