# Custom specific files
TODO.md
TODO2.md
server_pc_ip

# Key stuff
*.key
*.crt
*.pem

# Ignore changes made to velero credentials secret file
velero-credentials-secret.yaml

# User-specific Obsidian state (This could probably be improved alot)
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.obsidian/global.json
.obsidian/hotkeys.json
.obsidian/plugins/

# Terraform stuff
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.plan