configuration:
  provider: aws
  backupStorageLocation:
    name: default
    bucket: "velero-cluster-backup-s3-bucket" # Is this correct?
    config:
      region: "us-east-1"
      # s3Url: "https://s3.<AWS_REGION>.amazonaws.com"
  # volumeSnapshotLocation: # Can i remove this?
  #   name: default
  #   provider: aws
  #   config: {}

credentials:
  # This secret must be created manually before installing Velero
  name: cloud-credentials

# Needed as we have file-path-storage provisioner
features:
  enableNodeAgent: true

# Restrict default backup to PVCs only
backup:
  defaultVolumesToFsBackup: true   # Auto marks ALL PVCs to be backed-up

# Node-agent DaemonSet configuration
nodeAgent:
  podVolumePath: /var/lib/kubelet/pods

# Needed for local-path-storage
# Ensures host file paths accessible to node-agent
securityContext:
  fsGroup: 1001

# Restore config
# pvc restore ordering, owner refs, etc.
extraArgs:
  - "--default-volumes-to-fs-backup=true"

# Do we need this?
snapshotsEnabled: false
upgradeCRDs: true