configuration:
  backupStorageLocation:
  - name: default
    provider: aws
    bucket: "velero-cluster-backup-s3-bucket"
    config:
      region: "us-east-1"
  # Enable filesystem backups for volumes by default (auto-marks ALL PVCs)
  defaultVolumesToFsBackup: true

credentials:
  # This secret must be created manually before installing Velero
  name: cloud-credentials

# We use node-agent because we rely on file-path-storage provisioner
deployNodeAgent: true
podSecurityContext:
  fsGroup: 1001

nodeAgent:
  # Ensure host file paths are accessible to node-agent
  podSecurityContext:
    runAsUser: 0
    fsGroup: 1001

# Disabled as our file-path-storage provisioner does not support snapshots
snapshotsEnabled: false

