configuration:
  backupStorageLocation:
  - name: velero-cluster-backup
    default: true
    provider: aws
    bucket: "velero-cluster-backup-s3-bucket"
    config:
      region: "us-east-1"
    credential:
      name: cloud-credentials
      key: cloud
  # Enable filesystem backups for volumes by default (auto-marks ALL PVCs)
  defaultVolumesToFsBackup: true

credentials:
  # This secret must be created manually before installing Velero
  useSecret: true
  name: cloud-credentials
  existingSecret: cloud-credentials

# We use node-agent because we rely on file-path-storage provisioner
deployNodeAgent: true
podSecurityContext:
  fsGroup: 1001

nodeAgent:
  # Ensure host file paths are accessible to node-agent
  podSecurityContext:
    runAsUser: 0
    fsGroup: 1001

# Disabled as our file-path-storage provisioner does not support snapshots
snapshotsEnabled: false

kubectl:
  image:
    repository: bitnamilegacy/kubectl
    tag: "1.16.15"

initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.13.1
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins