apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - ingress.yaml
  - service.yaml

images:
  - name: template-fastapi-app
    newName: harbor.home/library/template-fastapi-app
    newTag: tree-dd6c46b3f5cb47f627368c06f215a6dac17fa832